[submodule "GaussianSplattingForUnrealEngine"]
	path = GaussianSplattingForUnrealEngine
	url = https://github.com/Apeiria01/GaussianSplattingForUnrealEngine
[submodule "NanoGaussianSplatting"]
	path = NanoGaussianSplatting
	url = https://github.com/Apeiria01/NanoGaussianSplatting
